[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-vision = "*"
google-cloud-storage = "*"
google-cloud-translate = "*"
magickwand = "*"
wand = "*"
pillow = "*"

[requires]
python_version = "3.8"
