<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Traduir automateure</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <h1>upload pour traduir</h1>
        <form action="/traduir">
            <input type="file"
                   id="meme" name="meme"
                   accept="image/png, image/jpeg">
        </form>
    </body>
</html>
